In [1]:
# Step 1: import library
import pandas as pd

In [2]:
# Step 2: import data
default = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Credit%20Default.csv')

In [3]:
default

           Income        Age         Loan  Loan to Income  Default
0     66155.92510  59.017015  8106.532131        0.122537        0
1     34415.15397  48.117153  6564.745018        0.190752        0
2     57317.17006  63.108049  8020.953296        0.139940        0
3     42709.53420  45.751972  6103.642260        0.142911        0
4     66952.68885  18.584336  8770.099235        0.130990        1
...           ...        ...          ...             ...      ...
1995  59221.04487  48.518179  1926.729397        0.032535        0
1996  69516.12757  23.162104  3503.176156        0.050394        0
1997  44311.44926  28.017167  5522.786693        0.124636        1
1998  43756.05660  63.971796  1622.722598        0.037086        0
1999  69436.57955  56.152617  7378.833599        0.106267        0

[2000 rows x 5 columns]

In [4]:
default.head()

        Income        Age         Loan  Loan to Income  Default
0  66155.92510  59.017015  8106.532131        0.122537        0
1  34415.15397  48.117153  6564.745018        0.190752        0
2  57317.17006  63.108049  8020.953296        0.139940        0
3  42709.53420  45.751972  6103.642260        0.142911        0
4  66952.68885  18.584336  8770.099235        0.130990        1

In [5]:
default.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Income          2000 non-null   float64
 1   Age             2000 non-null   float64
 2   Loan            2000 non-null   float64
 3   Loan to Income  2000 non-null   float64
 4   Default         2000 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 78.2 KB

In [6]:
default.describe()

             Income          Age          Loan  Loan to Income      Default
count   2000.000000  2000.000000   2000.000000     2000.000000  2000.000000
mean   45331.600018    40.927143   4444.369695        0.098403     0.141500
std    14326.327119    13.262450   3045.410024        0.057620     0.348624
min    20014.489470    18.055189      1.377630        0.000049     0.000000
25%    32796.459720    29.062492   1939.708847        0.047903     0.000000
50%    45789.117310    41.382673   3974.719418        0.099437     0.000000
75%    57791.281670    52.596993   6432.410625        0.147585     0.000000
max    69995.685580    63.971796  13766.051240        0.199938     1.000000

In [7]:
default.corr()

                  Income       Age      Loan  Loan to Income   Default
Income          1.000000 -0.034984  0.441117       -0.019862  0.002284
Age            -0.034984  1.000000  0.006561        0.021588 -0.444765
Loan            0.441117  0.006561  1.000000        0.847495  0.377160
Loan to Income -0.019862  0.021588  0.847495        1.000000  0.433261
Default         0.002284 -0.444765  0.377160        0.433261  1.000000

In [8]:
default.nunique()

Income            2000
Age               2000
Loan              2000
Loan to Income    2000
Default              2
dtype: int64

In [9]:
# Step 3: Define target (y) and features (X)

In [10]:
default.columns

Index(['Income', 'Age', 'Loan', 'Loan to Income', 'Default'], dtype='object')

In [11]:
y = default['Default']

In [12]:
X = default[['Income', 'Age', 'Loan', 'Loan to Income']]

In [13]:
# Step 4: Split the data or train test split
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split (X,y,train_size = 0.7, random_state = 2529)

In [29]:
# check shape of train and test sample
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((1400, 4), (600, 4), (1400,), (600,))

In [16]:
# Step 5: select model

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
model = LogisticRegression()

In [19]:
model

LogisticRegression()

In [20]:
# Step 6: train or fit model

In [21]:
model.fit(X_train,y_train)

LogisticRegression()

In [22]:
# Step 7: predict model

In [23]:
y_pred = model.predict(X_test)

In [24]:
# Step 8: model accuracy

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [30]:
accuracy_score (y_test,y_pred)

0.95

In [31]:
confusion_matrix (y_test,y_pred)

array([[506,  13],
       [ 17,  64]])

In [28]:
print(classification_report (y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97       519
           1       0.83      0.79      0.81        81

    accuracy                           0.95       600
   macro avg       0.90      0.88      0.89       600
weighted avg       0.95      0.95      0.95       600